.eightballBackground {
    margin: auto;
    background-color: rgb(40, 40, 226);
    width: 100vw;
    height:100vh;
}

.magic8BallContainer {
    margin: auto;
    background-color: white;
    border-radius: 12px;
    width: 50em;
    height:70em;
}

.eightBalluiTable {
    margin: auto;
}

.eightballImg {
    width: 25em;
    height: 25em;
}

.inputQuestion {
    width: 20em;
}