.eightballBackground {
    display: fixed;
    margin: auto;
    background-color: rgb(40, 40, 226);
    width: 100vw;
    height:100vh;
}

.magic8BallContainer {
    display: fixed;
    margin: auto;
    background-color: white;
    border-radius: 12px;
    width: 20vw;
	height: 65vh;
}

.eightBalluiTable {
    margin: auto;
}

.eightballImg {
    margin: auto;
    width: 16em;
    height: 16em;
}

.inputQuestion {
    margin-top: 50px;
    width: 20em;
}