
.mainContainer {
	padding-top: 5px;
}

#wrapper{
    margin-left:auto;
    margin-right:auto;
}

#mainTable {
	border: solid 2px black;
	background-color: blanchedalmond;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 20vw;
	height: 65vh;
}

#rockPaperScissorTable {
	margin-left: auto;
	margin-right: auto;
}

#choiceTable {
	margin-left: auto;
	margin-right: auto;
}

#winStatTable {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1em;
	font-family: 'Times New Roman', Times, serif;
}

#newGameResetTable {
	margin-left: auto;
	margin-right: auto;
}

.choiceButton, .resetButton, .playAgainButton {
	padding: 0px;
	margin: .25rem;
	width: 4.50em;
	border-radius: 12px;
	height: 3em;
	font-size: 1.20em;
}

.playerLabel {
	display: block;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
}
.imgContainer {
	margin: auto;
	border: solid 5px black;
	border-radius: 12px;
	width: 7em;
	height: 7em;
	background-color: whitesmoke;
}

.img {
	width: 6.25em;
	height: 6.25em;
	border-radius: 12px;
}

  .blinkMe {
	animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	100% {
		opacity: 1;
	}
  }

.winContainer, .winPercentage {
	margin: auto;
	border: solid 2px black;
	text-align: center;
	font-size: 1.5em;
	width: 4.5rem;
	height: 2.5rem;
	background-color: whitesmoke;
}

#userChoice {
	margin-left: auto;
	margin-right: auto;
	
}

.outcomeContainer {
	border: solid 5px black;
	background-color: whitesmoke;
}

#outcomeMessage {
    position:fixed;
    left: 50%;
    top: 26.5%;
    transform: translate(-50%,-50%);
	border: solid 2px black;
	background-color: coral;
	font-size: 2rem;
	font-family: 'Times New Roman', Times, serif;
	border-radius: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.outcomeRow {
	border-radius: 12px;
}